# MinIO config
MINIO_ENDPOINT=play.min.io
MINIO_ACCESS_KEY=YOUR_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_SECRET_KEY
MINIO_BUCKET=videos
MINIO_SECURE=true

# Path local
BACKUP_DIR=./backup
PROCESSED_DIR=./processed
LOG_DIR=./logs

# Worker setting
WORKERS=8
